@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat bg-black text-white;
  margin: 0;
}
/* Custom dropdown highlight color */
select option:checked,
select option:hover {
  background-color: #B497BD !important;
  color: black !important;
}
